In [1]:
#import dependencies
import os
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd

In [2]:
#create path
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#url to visit
url = 'http://mars.nasa.gov/news'

In [4]:
#visit the url
browser.visit(url)
response = requests.get(url)

In [5]:
#use beautiful soup to parse url
soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
#print(soup.prettify())

In [7]:
#use beautiful soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
# titles = soup.find_all("div", class_="image_and_description_container")

In [8]:
#move through html code levels to find needed information
articles = soup.find("ul", class_="item_list")
first_item = articles.find("li", class_="slide")
news_title = first_item.find("div", class_="content_title").text
news_p = first_item.find("div", class_="article_teaser_body").text

print(news_title)
print(news_p)

NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [9]:
# Loop through returned results
# html = browser.html
# soup = BeautifulSoup(html, 'html.parser')
# articles = soup.find('ul', class_='item_list')
# first_item = articles.find('li', class_='slide')
# time.sleep(5)

# news_title = []
# news_p = []
    
# try:
#     for item in first_item:
#         # Identify and return title of listing
#         name = first_item.find('div', class_='content_title').get_text()
# #         h3 = .find('h3').text
#         teaser = first_item.find('div', class_='article_teaser_body').get_text()
#         news_title.append(name)
#         news_p.append(teaser)
        
#     print("\n")
#     print("----------")
#     print(name)
#     print("\n")
#     print(teaser)
    
# except:
#     print("End of Results")

In [10]:
#NEW SECTION

In [11]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [12]:
#new url for mars images
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [13]:
#create dictionary
mars_dict = {}

In [14]:
#use splinter to click links on page
browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(5)
browser.click_link_by_partial_text("more info")
time.sleep(5)

In [15]:
#bs to navigate page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

image_url = soup.find('figure', class_='lede')
image_link = image_url.find("a")["href"]
featured_image_url = 'https://www.jpl.nasa.gov' + image_link

#proving code returns expected information
print(featured_image_url)
print(image_link)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14925_hires.jpg
/spaceimages/images/largesize/PIA14925_hires.jpg

In [16]:
#add image url to dictionary
mars_dict["featured_image_url"]=featured_image_url
mars_dict

{'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14925_hires.jpg'}

In [17]:
#NEW SECTION

In [18]:
#new url for mars weather tweets
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)

In [19]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

tweets = soup.find('div', class_='js-tweet-text-container')

In [20]:
#returns the latest tweet
mars_weather = tweets.find('p').text
print(mars_weather)

Are you there @NASAInSight? It’s me     @CanberraDSNpic.twitter.com/o5UjO2hRwn

In [21]:
#NEW SECTION

In [22]:
#read webpage to find mars facts
marsfacts = pd.read_html('https://space-facts.com/mars/')
print(marsfacts)

[  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [23]:
#create dataframe
marsfacts_df = marsfacts[1]
marsfacts_df.columns=["Description", "Value"]
marsfacts_df.set_index("Description", inplace=True)
marsfacts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [24]:
#convert dataframe to usable html
marstable = marsfacts_df.to_html()
marstable

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
#NEW SECTION

In [26]:
#new url for hemisphere images
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [27]:

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere_list = []

hemiresults = soup.find("div", class_="result-list")
hemi = hemiresults.find_all("div", class_="item")

hemi_mainurl = 'https://astrogeology.usgs.gov/'

#loop through each page to collect image url and title
for x in hemi:
    title = x.find("h3").text
    
    image_url = x.find("a")["href"]
    
    image_fullurl = hemi_mainurl + image_url
    
    browser.visit(image_fullurl)
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    other_url = soup.find("div", class_="downloads")
    new_imageurl = other_url.find("a")["href"]
    
    hemisphere_list.append({"title" : title, "img_url" : new_imageurl})

In [28]:
#proving that code returns expected information
print(image_url)
print(new_imageurl)

/search/map/Mars/Viking/valles_marineris_enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [29]:
#print full list of image urls and titles
hemisphere_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [30]:
#added when everything was broken and now i'm scared to delete it or comment it out. 
from flask import Flask
from flask_pymongo import PyMongo
app = Flask(__name__)
mongo = PyMongo (app, uri = "mongodb://localhost:27017/mars_db")